.conditions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 23px;
    
    position: relative;

    @media screen and (max-width: $onlyTablet){
        font-size: $fs12;
    }    
}

.conditions__checkbox {
    position: absolute;
    top: 0;
    right: -10px;

    &:checked+.conditions__check {
        background-color: getMap(icon-accent-primary);
    }
}

.conditions__link {
    text-decoration: underline getMap(accent);
    color: getMap(accent-text);
}

.conditions__check {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: -23px;

    width: 16px;
    height: 15px;

    border: 2px solid getMap(icon-accent-primary);
    border-radius: 2px;
    background-color: transparent;

    &>.icon-check {
        fill: getMap(icon-accent-secondary);
    }
}

// .icon-check {
//     fill: var(--icon-accent-second);
// }

// .conditions__checkbox:checked+.conditions__check {
//     background-color: var(--accent-color);
// }