// Иконки в input
.modal-form__label {
    position: relative;
}

.form-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translatey(-50%);

    transition: fill getMap(anim-hover);
}

.input-border {
    border-radius: 4px;
    border: getMap(modal-input-border);
    outline: transparent;

    transition: border getMap(anim-hover), fill getMap(anim-hover);
}

.modal-form__field:hover .input-border,
.modal-form__field:focus .input-border,
.input-border:hover,
.input-border:focus {
    border: getMap(modal-input-border-accent);
}


.modal-form__field:hover .form-icon,
.modal-form__field:focus .form-icon,
.input-border:hover+.form-icon,
.input-border:focus+.form-icon {
    fill: getMap(icon-accent-primary);
}
