.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: $mobile;
    // max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-color: getMap(hero-bgc);

    background-image: linear-gradient(to right, getMap(gradient-hero-mono),
        getMap(gradient-hero-mono)),
    url('../images/hero/hero_sm.jpg');
    @include mq(retina) {
        background-image: linear-gradient(to right, getMap(gradient-hero-mono),
            getMap(gradient-hero-mono)),
        url('../images/hero/hero_sm@2x.jpg');
    }
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        background-image: linear-gradient(to right, getMap(gradient-hero-mono),
            getMap(gradient-hero-mono)),
        url('../images/hero/hero_md.jpg');
        @include mq(retina) {
            background-image: linear-gradient(to right, getMap(gradient-hero-mono),
                getMap(gradient-hero-mono)),
            url('../images/hero/hero_md@2x.jpg');
        }
    }

    @media screen and (min-width: $desc) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: $descHero;
        background-image: linear-gradient(to right, getMap(gradient-hero-mono),
            getMap(gradient-hero-mono)),
        url('../images/hero/hero_lg.jpg');
        @include mq(retina) {
            background-image: linear-gradient(to right, getMap(gradient-hero-mono),
                getMap(gradient-hero-mono)),
            url('../images/hero/hero_lg@2x.jpg');
        }
    }
}


.hero__title {
    font-size: $fs26;
    font-weight: $fw900;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: getMap(secondary-text-light);

    @media screen and (min-width: $desc) {
        font-size: $fs44;
        line-height: 1.4;
    }
}

.hero__button {
    min-width: 200px;
    min-height: 50px;
    align-items: center;
    font-size: $fs16;
    font-weight: $fw700;
    line-height: 1.87;

    margin-top: 30px;
    padding: 10px 32px;

}