.work {
    display: none;

    @media screen and (min-width: $desc) {
        display: block;
        padding-top: 0;
        
        & .title {
            margin-bottom: 50px;
        }
    }
    
}

.work__list {
    display: flex;
}


.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__title-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;

    background-color: getMap(lining-dark);
}

.work__title {
    font-size: $fs14;
    font-weight: $fw700;
    text-transform: uppercase;
    color: getMap(secondary-text-light);

}