.team__social-list {
    display: flex;
    margin-top: 16px;
}

// Расстояние между ссылками на соц.сети
.team__items:not(:last-child) {
    margin-right: 10px;
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: inherit;
    border-radius: 50%;
    fill: getMap(icon-primary);

    transition: background-color getMap(anim-hover), fill getMap(anim-hover);

    &:hover, &:focus {
        background-color: getMap(icon-accent-bgc);
        fill: getMap(icon-accent-secondary);
    }
}
