.team {
    background-color: getMap(secondary-bgc);

    @media screen and (min-width: $tablet) and (max-width: $onlyTablet) {
        &__title {
            margin-bottom: 30px;
        }
    }
    
}

.team__list {
    
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    @media screen and (min-width: $desc) {
        margin-top: 0px;
        margin-left: 0;
    }
    // margin-top: 50px;
}


.team__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 622px;
    box-shadow: getMap(team-card-shadow1), getMap(team-card-shadow2), getMap(team-card-shadow3);
    border-radius: 0px 0px 4px 4px;
    background-color: getMap(primary-bgc);

    margin-top: getMap(card-set-grid);

    @media screen and (min-width: $tablet) and (max-width: $onlyTablet) {
        flex-basis: calc( 100% / 2 - 30px);
        margin-top: getMap(card-set-grid);
        margin-left: getMap(card-set-grid);

        max-width: 354px;
        max-height: 536px;
    }

    @media screen and (min-width: $desc) {
        max-width: 270px;
        max-height: 428px;

        margin-top: 50px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
}

.team__details {
    padding-top: 30px;
    padding-bottom: 24px; 
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    &>.team__member {
        font-weight: $fw500;
        color: getMap(secondary-text-dark);
    }

    &>.team__position {
        margin-top: 10px;
    }

    

    @media screen and (min-width: $tablet) {
        padding: 30px 74px 24px 74px;
    }
    @media screen and (min-width: $desc) {
        padding: 30px 32px;
    }

    // padding: 30px 32px 30px 32px;
}
