.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;

    &__header {
        color: getMap(logo-primary-color);
    }
    
    &__footer {
        color: getMap(logo-secondary-color);
    }
}
.logo__accent {
    color: getMap(logo-accent-color);
}

.logo__header {
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }

    @media screen and (min-width: $desc) {
        margin-right: 93px;
    }

}