// Добавляем overflow
.projects__link {
    display: block;
    color: inherit;
    box-shadow: none;

    position: relative;
    overflow: hidden;

    transition: box-shadow getMap(anim-hover);

    &:hover, &:focus {
        box-shadow: getMap(projects-card-shadow1),
        getMap(projects-card-shadow2),
        getMap(projects-card-shadow3);
        
        & .overlay {
            transform: translateY(0%);
        }
    }
}


.overlay--wrapper {
    position: relative;    

    width: 100%;

    overflow: hidden;
}

.overlay {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);
    transition: transform getMap(anim-hover);

    background-color: getMap(lining-accent);
    color: getMap(secondary-text-light);

    &>p {
        font-size: calc(7px + 11 * (100vw / 450));
        line-height: 1.5;

        @media screen and (max-width: $mobile320) {
            padding: 20px 15px;
        }

        @media screen and (min-width: $mobile) {
        padding: 77px 24px;
        }

        @media screen and (min-width: $tablet) {
            padding: 49px 24px 77px 24px;
        }
        @media screen and (min-width: $desc) {
            padding: 63px 24px;
        }
    }
}
