.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (max-width: $onlyMobile) {
        justify-content: initial;
        margin-top: -15px;
        margin-left: -8px;
    }

    justify-content: center;    
}

.filter-list__item {

    @media screen and (max-width: $onlyMobile) {
        margin-top: 15px;
        margin-left: 8px;
    }

    &:not(:first-child) {
        margin-left: 8px;
    }
    
}

.filter-list__btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    align-items: center;

}

.filter-list__btn--hover {
    color: getMap(secondary-text-dark);
    background-color: getMap(secondary-bgc);

    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: color getMap(anim-hover),
        background-color getMap(anim-hover),
        box-shadow getMap(anim-hover);
    
    &:hover, &:focus {
        color: getMap(secondary-text-light);
        background-color: getMap(accent);
        
        box-shadow: getMap(filter-btn-shadow1), getMap(filter-btn-shadow2), getMap(filter-btn-shadow3);
    }

}
