.socials {
    margin-top: 60px;
    
    &>p {
        color: getMap(secondary-text-light);
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
    }

    @media screen and (min-width: $tablet) {
        margin-top: 0;
        margin-left: 70px;
    }
}


.socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.socials__items {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
}

.socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: getMap(icon-secondary-bgc);
    border-radius: 50%;
    fill: getMap(icon-accent-secondary);

    transition: background-color getMap(anim-hover);

    &:hover, &:focus {
        background-color: getMap(icon-accent-bgc);
    }
}
