.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    background-color: getMap(footer-bgc);

  
    @media screen and (min-width: $desc) {
        &>.container {
            display: flex;
            text-align: initial;
            align-items: baseline;
        }
    }
    
}

.footer__thumb {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

.footer__address {
    margin-top: 20px;
    min-width: 232px;
    min-height: 81px;

}

.footer__item {
    line-height: 1.7;
    color: getMap(footer-text-contacs);
    transition: color getMap(anim-hover);
    
    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &:hover,
    &:focus {
        color: getMap(accent-text);
    }
}

.footer__link {

    &-address {
        color: getMap(secondary-text-light);
    }

    &:hover,
    &:focus {
        color: getMap(accent-text);
    }
}


