.header__address-list {
    // display: flex;
    
    display: none;

    margin-left: auto;
    font-weight: 500;
    letter-spacing: 0.02em;
    
}

.header__item-mail {
    margin-right: 50px;

}

.header__item-mail,
.header__item-phone {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}


.header__address-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);

    transition: color var(--anim-hover);
}

.mail-icon,
.smartphone-icon {
    margin-right: 10px;
    fill: var(--icon-second-color);
    transition: fill var(--anim-hover);
}


.header__address-link--hover:hover,
.header__address-link--hover:focus {
    color: var(--accent-color);

    & .mail-icon,
    & .smartphone-icon {
        fill: var(--icon-accent-color);
    }
}