header {
    & .container {
        display: flex;
    }
}

.header {
    border-bottom: 1px solid #ececec;
}

.header__nav {
    display: flex;
    align-items: center;

    color: var(--main-text-dark-color);
}

.header__logo-link {
    margin-right: 93px;
}

.header__logo {
    color: var(--accent-color);
}
