.header {
    border-bottom: getMap(header-border);
    
    @media screen and (min-width: $tablet) {
        & .container {
            display: flex;
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;

    color: getMap(secondary-text-dark);
}


