.menu__btn {
    margin: 10px 15px 10px auto;
    // width: 40px;
    // height: 40px;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    &>button {
        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
    }
}


.menu__wrapper {
    display: none;
}