.nav-list {
    // display: flex;
    
    display: none;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-list__item {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.nav-list__link {
    color: var(--main-text-dark-color);
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: var(--accent-color);
    }

}

.nav-list--nav-hover::after,
.nav-list--nav-hover::after {
    content: "";
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    bottom: -1px;
    left: 0px;

    transform: scaleX(0);
    transition: transform var(--anim-hover);
    transform-origin: top right;

}

.nav-list--nav-hover:hover::after,
.nav-list--nav-hover:focus::after {
    transform: scaleX(1);
    transform-origin: top left;
}