.button {

    border-radius: 4px;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--anim-hover);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover-bgc);
}