/* Активная страничка подсвечивается */
nav .current {
    color: getMap('accent-text');

    @media screen and (min-width: $tablet) {
        &::after {
            content: "";
            background-color: getMap('accent');
            width: 100%;
            height: 4px;
            border-radius: 2px;
        
            position: absolute;
            bottom: -1px;
            left: 0px;
        
        }
    }
}

// .current::after {
//     content: "";
//     background-color: var(--accent-color);
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;

//     position: absolute;
//     bottom: -1px;
//     left: 0px;

// }