:root {
    /* Цвета текста*/
    --main-text-color: #757575;
    --main-text-dark-color: #212121;
    --secondary-text-color: #ffffff;
    --accent-color: #2196f3;

    /* Цвета фона */
    --main-bcg: #ffffff;
    --secondary-bgc: #f5f4fa;
    --footer-bgc: #2f303a;
    --hero-bgc: #c4c4c4;

    /* Кнопка */
    --button-hover-bgc: #188ce8;

    /* Цвет телефона и эл.адреса в футере */
    --footer-text-phonemail: rgba(255, 255, 255, 0.6);

    /* Цвет иконок */
    --icon-main-color: #AFB1B8;
    --icon-second-color: #757575;
    --icon-accent-color: #2196F3;
    --icon-accent-second: #ffffff;
    --icon-footer-bgc: rgba(255, 255, 255, 0.1);
  
    /* Чем мы заним. bgc */
    --work-title-bgc: rgba(47, 48, 58, 0.8);
 
    /* Анимации */
    --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@import './breackpoints';
@import './current-page';
@import './button';
@import './visually-hidden';

